@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;400;700&display=swap");
* {
  margin: 0;
  color: #c2bfbf;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes slide-right {
  from {
    margin-left: 101%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide-right {
  from {
    margin-left: 101%;
  }
  to {
    margin-left: 0%;
  }
}

@-webkit-keyframes slide-left {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide-left {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.3))), url(./images/obrazek.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(./images/obrazek.jpeg);
  background-position: 40%;
  height: 700px;
  background-size: cover;
  opacity: 0.9;
}

.main .hero {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -74px;
}

.main .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 74px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.main .logo {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

.main .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .menu ul li {
  list-style: none;
  margin-right: 60px;
}

.main .menu ul li:last-of-type {
  margin-right: 0;
}

.main .hero-text {
  margin-left: 120px;
}

.main .hero-text .first-title {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  letter-spacing: 1;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 45px;
  -webkit-animation-name: slide-right;
          animation-name: slide-right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.main .hero-text .first-subtitle {
  font-size: 72px;
  line-height: 1.2;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-animation-name: slide-left;
          animation-name: slide-left;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.feature-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100vw;
  margin-top: -65px;
  padding-bottom: 60px;
}

.feature-wrapper .feature {
  background: #fff;
  width: 20%;
  margin: 0 auto;
  position: relative;
  border: 1px solid #c2bfbf;
  padding: 30px 10px 70px 10px;
}

.image {
  height: 50px;
  border-radius: 50%;
  background: #f37388;
}

.title {
  text-transform: capitalize;
  font-weight: 700;
  padding: 5px;
  font-size: 15px;
  color: black;
}

.subtitle {
  font-style: oblique;
  line-height: 25px;
  padding: 10px 10px 10px 10px;
  font-size: 10px;
  color: black;
}

.background-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f0eeef;
}

.background-section-wrapper .background-section {
  background-image: url(./images/komp.jpg);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #f0eeef;
}

.background-section-wrapper .background-section .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: -20px;
}

.background-section-wrapper .background-section .left-column {
  width: 50%;
}

.background-section-wrapper .background-section .right-column {
  width: 50%;
  padding: 90px 0;
}

.background-section-wrapper .background-section .top {
  padding: 30px;
  margin-top: 30px;
  background-color: #f0eeef;
}

.background-section-wrapper .background-section .h1-top {
  color: #f192a2;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

.background-section-wrapper .background-section .title {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.background-section-wrapper .background-section .title + p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.459);
  margin-bottom: 10px;
}

.background-section-wrapper .background-section .columns {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 28px;
}

.background-section-wrapper .background-section .left-feature {
  margin-right: 20px;
  width: 50%;
  margin-top: 30px;
}

.background-section-wrapper .background-section .title-left-feature {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  margin: 10px auto;
  color: black;
  margin-bottom: 22px;
}

.background-section-wrapper .background-section .title-left-feature + p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.459);
  margin-top: 25px;
}

.background-section-wrapper .background-section .bulb {
  width: 30px;
}

.background-section-wrapper .background-section .right-feature {
  padding: 30px;
  width: 50%;
  background-color: #f0eeef;
}

.background-section-wrapper .background-section .note {
  width: 30px;
}

.background-section-wrapper .background-section .title-right-feature {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  margin: 10px auto 10px auto;
  margin-bottom: 10px;
  color: black;
}

.background-section-wrapper .background-section .title-right-feature + p {
  font-size: 12px;
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.459);
}

.wrapper-fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.wrapper-fourth .image-fourth {
  height: 233px;
}

.wrapper-fourth .main-fourth {
  width: 233px;
  height: 233px;
  margin: auto 20px auto;
  background-color: black;
  margin-top: 0px;
  padding: 20px;
  border-right: solid 0.1px #c2bfbf;
  border-left: solid 0.1px #c2bfbf;
}

.wrapper-fourth h5.fourth {
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ff214f;
  font-weight: normal;
  margin-bottom: 10px;
}

.wrapper-fourth h4.fourth {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: normal;
  color: white;
}

.wrapper-fourth p.fourth {
  margin-bottom: 20px;
  font-size: 11px;
  font-family: sans-serif;
  color: #b3acac;
  font-style: oblique;
}

.wrapper-fourth .appendix {
  text-decoration: none;
  font-size: 10px;
  color: #ff214f;
  font-weight: 600;
}

.wrapper-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  color: white;
  background-color: black;
  padding: 30px;
  border: 1px solid black;
}

.wrapper-form .form-description {
  margin-right: 28px;
}

.wrapper-form .first-description-form {
  font-size: 18px;
  margin-top: 9px;
}

.wrapper-form .name-description {
  font-size: 11px;
  margin-top: 5px;
}

.wrapper-form .form-email {
  font-size: 10px;
  margin-top: 6px;
}

.wrapper-form .textarea {
  width: 82%;
  height: 70px;
  color: black;
  margin-top: 10px;
}

.wrapper-form .form-column {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 39px;
}

.wrapper-form input {
  font-size: 13px;
  width: 188px;
  margin-top: 10px;
}

.wrapper-form .form-button {
  text-decoration: none;
  background-color: #918484;
  margin-top: 10px;
  cursor: pointer;
  font-size: 9px;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  color: black;
  font-weight: 700;
  border: none;
}

.wrapper-form .form-button:hover {
  background-color: #ff214f;
  color: white;
}

@media all and (max-width: 768px) {
  .feature-wrapper .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feature-wrapper .container .feature {
    width: 300px;
    margin-top: 10px;
  }
  .background-section-wrapper .background-section .left-feature {
    display: none;
  }
  .main .hero .hero-text {
    margin-left: 30px;
  }
  .main .hero .hero-text .first-subtitle {
    font-size: 30px;
  }
  .main .navbar .menu {
    display: none;
  }
}
/*# sourceMappingURL=together.css.map */